<!--Head-->
<%include partials/head.ejs %>
<body id="login-page" class="login">
    <div class="login-page">
        <div class="form">
            <form method="POST" action="/login" class="login-form">
                <h4 class="text-center mb-4">LOGIN</h4>
                <input type="text" placeholder="username" name="username" autocomplete="off"/>
                <input type="password" placeholder="password" name="password" autocomplete="off"/>
                <button>login</button>
            </form>
        </div>
    </div>
<% include partials/foot.ejs %>
</body>
</html>